#titulo{
    text-align: center;
    color: blue;
    font-size: 50px;
}
#div1{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    margin-top: 1%;
}
#div2{
    display: flex;
    flex-wrap: wrap;
    margin-left: 35%;
    height: 100px;
    width: 800px;
    }
#divesteriscos{
    border-radius: 17%;
    background-color: rgba(0, 132, 255, 0.74);
    width: 100px;
    height: 100px;
    margin-left: 1%;
}
#esterisco{
    text-align: center;
}
#div3{
    width: 527px;
    height: 190px;
    margin-left: 35.5%;
    margin-top: 1%;
    border: 2px solid skyblue;
    border-radius: 8px;
}
#h3div3{
    margin-left: 2%;
    color: rgba(0, 132, 255, 0.74);
    font-size: 20px;
}
#inputdiv3{
    border: 0;
    margin-left: 2%;
    font-size: 25px;
}

#divinput{
    width: 95%;
    margin-left: 2.5%;
    height: 70px;
    margin-top: 2%;
}
#input1{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 132, 255, 0.74);
    border-color: skyblue;
    border-radius: 8px;
    font-size: 35px;
    color: aliceblue;
}
#div4{
    width: 527px;
    height: 50px;
    margin-left: 35.5%;
    margin-top: 1%;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}
#div5{
    flex-wrap: wrap;
    display: flex;
    width: 540px;
    margin-left: 35%;
    margin-top: 1%;
    justify-content: center;
}

.cuadrados{
    border-radius: 17%;
    background-color: grey;
    width: 100px;
    height: 100px;
    font-size: 70px;
    text-align: center;
    margin-left: 1%;
    margin-top: 1%;
}

